
.timestamp {
    color: darkblue;
}

.sender {
    color: blue;
}

.INFO {
    color: rebeccapurple;
}

.CHAT-COMMAND {
    color: dodgerblue;
}

.ERROR {
    color: red;
}

.GAME {
    color: skyblue;
}
