
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#screen, #console {
    padding: 0;
    margin: auto;
    display: inline-block;
    height: 100vh;
}

#screen {
    float: left;
    width: 60%;
}

#console {
    float: right;
    width: 40%;
    background-color: gray;
}

#log, #input {
    padding: 0;
    margin: auto;
    display: inline-block;
}

#log {
    height: 90%;
    overflow-y: auto;
}

#input {
    text-align: center;
    width: 100%;
}

#user-text-input {
    width: 100%;
}

#user-submit-button {
    width: 100%;
}
