
body {
	display: grid;
	grid-template-columns: 60% 40%;
	margin: 0;
	padding: 0;
}

#screen, #console {
	height: 100vh;
	margin: 0;
}

#screen {
	grid-column: 1;
	width: 100%;
}

#console {
	grid-column: 2;
	background-color: silver;
	display: flex;
	flex-direction: column;
}

#log {
	overflow-y: auto;
	word-wrap: break-word;
	flex: 1;
	padding: 5px;
	margin: 0;
}

#log p {
	margin: 0;
}

#input {
	text-align: center;
	overflow: hidden;
}

#user-text-input {
	width: 99%;
	border: 0;
	margin: 0;
	padding: 5px;
}

#user-submit-button {
	width: 100%;
	border: 0;
	padding: 5px;
	margin: 0;
	cursor: pointer;
	background-color: silver;
}

#user-submit-button:hover {
	background-color: darkgray;
}

#user-submit-button:active {
	background-color: gray;
}
